@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
	font-size: 20px;
	color:#000000;
}

header{
	width: 90%;
	padding-left: 5%;
	padding-top: 5%;
}


.bar{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

li{
	padding-right: 2%;
	padding-left: 2%;
}


.contenedorA{
	background-color:#FFFFFF;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.fotooprah{
	background-color:#FFFFFF;
	width: 40%;
	margin: 2%;
	text-align: center;
	padding: 2%;
	font-size: 30px;
}

.foto{
	width: 100%;
}

.primertexto{
	background-color:#FFFFFF;
	width: 40%;
	margin: 2%;
	text-align: center;
	padding: 2%;
	font-size: 30px;
}

h1{
	text-align:start;
	font-size: 50px;
	padding-top: 10%;
	padding-bottom: 5%;
	text-decoration:none;
}

.zoomIt{
color: #000000;
display:inline-block;
-webkit-transition:-webkit-transform 1s ease-out;
-moz-transition:-moz-transform 1s ease-out;
-o-transition:-o-transform 1s ease-out;
-ms-transition:-ms-transform 1s ease-out;
transition:transform 1s ease-out;
text-decoration:none;
}
.zoomIt:hover{
-moz-transform: scale(1.2);
-webkit-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}

h2{
	text-align: start;
	font-size: 30px;
	color: rgba(244,158,2,0.84);
	padding-bottom: 2%;
}

p{
	text-align: start;
	font-size: 20px;
}

.contenedorB{
	background-color: rgba(244,158,2,0.84);
	color:#FFFFFF;
	text-align: center;
	font-size: 50px;
	margin-block-end: 0em;
	animation-name: text;
    animation-duration: 3.5s;
}

@keyframes text{
    0%{
        transform: translateX(1000px);
        
    }
    100%{
        transform: translateX(0px);
    }

}

.contenedorC{
	background-color:#FFFFFF;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-start;
}

.textoA{
	background-color:#FFFFFF;
	width: 40%;
	margin: 2%;
	text-align: center;
	padding: 2%;
	font-size: 30px;
}

.animacioncaja{
	background-color:#FFFFFF;
	width: 40%;
	margin: 2%;
	text-align: center;
	padding: 2%;
	font-size: 30px;
}

.animaciones{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
}

.medidaanimacion{
	width: 45%;
	padding-top: 5%;
}

.circulo{
	padding-left: 15%;
}

#banner {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background:url("../img/corta.png");
	overflow: hidden;
    backface-visibility: hidden;
	
	background-repeat: repeat-x;
	animation: Banimate 10s linear infinite;
}


#Bbanner {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background:url("../img/intermedio.png");
	overflow: hidden;
    backface-visibility: hidden;
	
	background-repeat: repeat-x;
	animation: Banimate 10s linear infinite;
    
}

@keyframes Banimate{
	0%{background-position: 0 100px}
	10%{background-position: 0 100px}
	40%{background-position: 1000px -30px}
	0%{background-position: 0 100px}
	
}

#Cbanner {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background:url("../img/intermedio.png");
	overflow: hidden;
    backface-visibility: hidden;
	
	background-repeat: repeat-x;
	animation: Banimate 10s linear infinite;
}

#Dbanner {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background:url("../img/wave.png");
	overflow: hidden;
    backface-visibility: hidden;
	
	background-repeat: repeat-x;
	animation: Banimate 10s linear infinite;
    
}

.textoB{
	background-color:#FFFFFF;
	width: 40%;
	margin: 2%;
	text-align: center;
	padding: 2%;
	font-size: 30px;
}

/* Pantalla grande*/
@media screen and (min-width:961px) and (max-width:1200px){
	.contenedorA{
		max-width:1200px;
		}
	.foto{
		width: 70%;
		padding-top: 10%;
	}
	.capacidades{
		text-align: end;
	}
}

/* Pantalla Media*/
@media screen and (min-width:755px) and (max-width:960px){
	
	.fotooprah{
	    padding-top: 10%;
	}
	
	.foto{
		width:90%;
	}
	
	.contenedorC{
		justify-content:center;
	}
	.textoA{
		width: 60%;
	}
	.animacioncaja{
		width: 60%;
	}
	.textoB{
		width: 60%;
	}
}

/* Pantalla media a chica*/
@media screen and (min-width:561px) and (max-width:754px){
	
	.fotooprah{
	    padding-top: 10%;
	}
	
	.foto{
		width:100%;
	}
	
	.primertexto{
		width: 80%;
	}
	
	.billonaria{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	
	.contenedorC{
		justify-content:center;
	}
	.textoA{
		width: 60%;
	}
	.animacioncaja{
		width: 60%;
	}
	.textoB{
		width: 60%;
	}
}

/* Pantalla chica*/
@media screen and (min-width:480px) and (max-width:560px){
	.fotooprah{
	   width:50%;
	}
	
	.primertexto{
		width: 80%;
	}
	
	h1{text-align: center;}
	
	.actriz{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	
	.billonaria{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	
	.contenedorC{
		justify-content:center;
	}
	
	.animaciones{
		justify-content: space-around;
	}
	
	.capacidades{
		text-align: center;
	}
	
	.textoA{
		width: 60%;
	}
	.animacioncaja{
		width: 80%;
	}
	.textoB{
		width: 60%;
	}
}

/* Pantalla muy chica*/
@media screen and (min-width:0px) and (max-width:479px){
	.fotooprah{
	   width:50%;
	}
	
	.primertexto{
		width: 40%;
	}
	
	h1{text-align: start;
	font-size: 40px;
	padding-bottom:0px;}
	
	.actriz{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	
	.billonaria{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	.contenedorC{
		justify-content:center;
	}
	
	.animaciones{
		justify-content: center;
	}
	
	.medidaanimacion{
		width: 55%;
	}
	
	.capacidades{
		text-align: center;
	}
	
	.textoA{
		width: 60%;
	}
	.animacioncaja{
		width: 80%;
	}
	.textoB{
		width: 60%;
	}
}
